.cards-content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    .card {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        margin-bottom: 32px;
        max-width: 480px;
        box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.35);
        cursor: pointer;
        &-image-container {
          background-color: $color-primary;
          min-height: 376px;
          position: relative;
          &-hover {
            position: absolute;
            bottom: 0;
            padding: 16px;
            background-color: rgba(black, 0);
            max-width: 100%;
            p {
              color: transparent;
            }
          }
        }
        img {
          margin: 0;
        }
        @media screen and(max-width: $mobile){
            width: 100%;
            margin-right: 0;
        }
        &.primary {
          background-color: $color-primary;
          h3 {
            color: $color-secondary;
          }
        }
        &.secondary {
          background-color: $color-secondary;
          h3 {
            color: $color-primary;
          }
        }
        .items {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 0 auto;
          max-width: 75%;
          padding: 16px;
          h3 {
            margin: 0;
          }
        }
        &:hover {
          .card {
            &-image-container {
              &-hover {
                background-color: rgba(black, .5);
                p {
                  color: white;
                }
              }
            }
          }
        }
    }
}
