.donaciones-valor{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 16px;

    .form-item-donaciones{
        display: flex;
        flex-direction: column;
        width: 33.3%;
        .item-inner{
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;

            label{
                color: $gray-text !important;
                font-size: 16px;
                margin-left: 16px;
                margin-bottom: 0;
            }
        }
    }
}