// Colors
$white: #ffffff;
$black: #000000;
$gray-title: #c1c1c1;
$gray-text: #909090;
$cta-bg: #1a9a99;
$bg-footer: #d9d9d9;
$bg-green: #70b125;
$color-text-acti: #009191;
$color-primary:   #740033;  .color-primary   { color: $color-primary;   };  .bg-color-primary   { background-color: $color-primary !important;   }
$color-secondary: #FACE00;  .color-secondary { color: $color-secondary; };  .bg-color-secondary { background-color: $color-secondary !important; }
$color-inverse:   #FFF;     .color-inverse   { color: $color-inverse;   };  .bg-color-inverse   { background-color: $color-inverse !important;   }
$color-success:   #4caf50;  .color-success   { color: $color-success;   };  .bg-color-success   { background-color: $color-success !important;   }
$color-info:      #03a9f4;  .color-info      { color: $color-info;      };  .bg-color-info      { background-color: $color-info !important;      }
$color-warning:   #ff9800;  .color-warning   { color: $color-warning;   };  .bg-color-warning   { background-color: $color-warning !important;   }
$color-danger:    #f44336;  .color-danger    { color: $color-danger;    };  .bg-color-danger    { background-color: $color-danger !important;    }

// Grayscale
$gray-base:    lighten(#000, 0%);         .gray-base    { color: $gray-base;    };  .bg-gray-base    { background-color: $gray-base;    }
$gray-darker:  lighten($gray-base, 15%);  .gray-darker  { color: $gray-darker;  };  .bg-gray-darker  { background-color: $gray-darker;  }
$gray-dark:    lighten($gray-base, 35%);  .gray-dark    { color: $gray-dark;    };  .bg-gray-dark    { background-color: $gray-dark;    }
$gray-regular: lighten($gray-base, 50%);  .gray-regular { color: $gray-regular; };  .bg-gray-regular { background-color: $gray-regular; }
$gray-light:   lighten($gray-base, 65%);  .gray-light   { color: $gray-light;   };  .bg-gray-light   { background-color: $gray-light;   }
$gray-lighter: lighten($gray-base, 85%);  .gray-lighter { color: $gray-lighter; };  .bg-gray-lighter { background-color: $gray-lighter; }
$gray-ghost:   lighten($gray-base, 95%);  .gray-ghost   { color: $gray-ghost;   };  .bg-gray-ghost   { background-color: $gray-ghost;   }

$body-bg-color: $white;
$inner-body-bg: $white;

// Vertical space
$space-base: 8px;
$space-2: $space-base * 2; // 16px
$space-3: $space-base * 3; // 24px
$space-4: $space-base * 4; // 32px
$space-5: $space-base * 5; // 40px

// font family
@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-MdCn.eot');
    src: url('../fonts/HelveticaNeueLTPro-MdCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTPro-MdCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-MdCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTPro-MdCn.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Bd.eot');
    src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTPro-Bd.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'),
        url('../fonts/HelveticaNeueLTPro-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Lt.eot');
    src: url('../fonts/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTPro-Lt.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'),
        url('../fonts/HelveticaNeueLTPro-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


$font-family-base: 'Helvetica Neue LT Pro';
$headings-font-family: $font-family-base;
$font-size-base: 16px;


// media queries
$tablet: 1071px;
$mobile: 747px;
$max-width-screen: 1232px;
